#chessboard {
  width: 800px;
  height: 800px;
  margin: 20px;
  border: 25px solid #333;
}
td {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  width: 80px;
  height: 80px;
  float: left;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  /*border-collapse: collapse;*/
}
.black {
  background-color: #d18b47;
}
.white {
  background-color: #ffce9e;
}

.black:hover {
  background-color: #ffcd53;
}

.white:hover {
  background-color: #ffcd53;
}
/*tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {*/
/*  background: grey;*/
/*}*/
/*tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {*/
/*  background: white;*/
/*}*/

.selected {
  /*border: green;*/
  /*border: 1px solid green;*/
  background-color: green;
}
.selected:hover {
  /*border: green;*/
  /*border: 1px solid green;*/
  background-color: #598000;
}
.highlighted {
  background-color: #4e78ff;
}

.highlighted-enemy {
  background-color: darkred;
}

.pawn-black {
  background-image: url(icons/black/Chess_pdt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pawn-white {
  background-image: url(icons/white/Chess_plt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rook-black {
  background-image: url(icons/black/Chess_rdt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rook-white {
  background-image: url(icons/white/Chess_rlt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.knight-black {
  background-image: url(icons/black/Chess_ndt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.knight-white {
  background-image: url(icons/white/Chess_nlt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bishop-black {
  background-image: url(icons/black/Chess_bdt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bishop-white {
  background-image: url(icons/white/Chess_blt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.queen-black {
  background-image: url(icons/black/Chess_qdt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.queen-white {
  background-image: url(icons/white/Chess_qlt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.king-black {
  background-image: url(icons/black/Chess_kdt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.king-white {
  background-image: url(icons/white/Chess_klt45.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
